.plantBackground {
  background-image: url(images/plantBackground.jpg);

  /* height: fit-content; */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.infoBackground {
  position: relative;
  background: rgb(43, 211, 155);
  overflow: auto;
}
.infoBackground::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/plantBackground.jpg);
  /* height: fit-content; */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

body {
  position: static;
}

#title {
  color: white;
  width: 70%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}

.nav-link {
  color: white;
}

#scrolly {
  position: fixed;
  right: 1em;
  margin-top: 5em;
}

img {
  max-width: 100%;
  height: auto;
  width: 25em;
}

.list-border {
  position: relative;
  text-align: center;
  width: 60%;
  margin-top: 2em;
  margin-bottom: 2em;
  border-style: ridge;
  border-width: 2px;
  background-color: #ffffe5;
}

.detail-view {
  position: relative;
  top: 10em;
  margin: 0 auto;
  z-index: 10;
  
}

.btn{
  position: fixed;
  bottom: 0;
  right: 2em;

}

.card-img-top img{
  position: relative;
  height: 100%;
  width: auto
}
